<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Math Equations.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4A2661981E6904F000334EB0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4A2661AC1E6904F100334EB0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4A2661B71E6904F100334EB0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
